.computer-type {
  display: flex;
  margin: 15px;
}

.form-group {
  margin: 1px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}
.form-label {
  margin: 5px;
  min-width: 100px;
}
.form-price-label {
  max-width: 100px !important;
}
.form-dollar {
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.form-option-label {
  width: 140px !important;
  text-transform: uppercase;
}

/* Table styles */
.table-header {
  text-align: center;
}
.delete-btn {
  font-size: 22px;
  text-align: center;
  line-height: 24px;

  cursor: pointer;
}
.category-heading {
  padding-left: 20px !important;
  text-transform: uppercase;
}
.item-index {
  width: 50px !important;
  text-align: center;
}
.item-label {
  width: 150px !important;
}
.item-text {
}
.item-price {
  width: 180px !important;
  text-align: center;
}
